.button-cont
{
    justify-content: center;
    display: flex;
}

.button-cont button
{
    margin: 5px;
    padding: 10px;
}

#add-task,
.delete-day,
.delete-night
{
    border: transparent;
    border-radius: 4px;
}

#add-task:hover,
.delete-day:hover,
.delete-night:hover
{
    cursor: pointer;
}

#add-task
{
    font-size: 15px;
    color: #ffffff;
    background-color: #15ff00;
}

#add-task:hover
{
    background-color: #0fac01;
}

/* .edit-day,
.edit-night
{
    background-color: #c4c4c4;
}

.edit-day:hover,
.edit-night:hover
{
    background-color: #6d6d6d;
} */

.delete-day,
.delete-night
{
    background-color: #bdafaf;
}

.delete-day:hover,
.delete-night:hover
{
    background-color: #df3333;
}

/* FontAwesome Icons */
.fa-sun
{
    color: #ffd000;
}

.fa-moon,
.fa-plus
{
    color: #ffffff;
}

.fa-trash,
.fa-pen-to-square
{
    color: #000000;
}
