.data-inputs {
    padding: 15px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}

input[type='checkbox']
{
    cursor: crosshair;
    width: 20px;
    height: 20px;
}

input[type="text"]
{
    padding: 10px;
    box-sizing: border-box;
    width: 50%;
}

select
{
    font-size: 15px;
    background-color: #ffffff;
    padding: 5px;
    box-sizing: border-box;
    border: solid 2px #000000;
    border-radius: 5px;
}

.data-inputs input,
.data-inputs select,
.data-inputs button {
    margin: 10px; 
    padding: 10px;
}

input
{
    border: solid 2px #000000;
    border-radius: 5px;
}

input:hover,
select:hover
{
    background-color: #f0f0f0;
}

select:hover
{
    cursor: pointer;
}

/* .fa-check-circle,
.fa-exclamation-circle
{
    visibility: hidden;
} */

small
{
    padding: 10px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    margin-top: -20px;
    visibility: hidden;
}

.form-control.success
{
	border-color: #73ff00;
}

.form-control.error
{
	border-color: #ff0000;
}

/* .form-control.success .fa-check-circle 
{
    color: #73ff00;
    visibility: visible;
}

.form-control.error .fa-exclamation-circle 
{
    color: #ff0000;
    visibility: visible;
} */

.form-control.success small 
{
    color: #00ff22;
    visibility: visible;
}

.form-control.error small 
{
    color: #ff0000;
    visibility: visible;
}
