.profile-menu
{
    padding: 20px;
    text-align: center;
    height: auto;
    width: 350px; 
    background: linear-gradient(0deg, #58fdf5, #992ae4 100%);
    border-radius: 10px;
    box-shadow: 0 0 15px 0 #1c1c1f;
}

img
{
    margin-top: 15px;
    width: 150px;
    border: solid 3px #000000;
    border-radius: 70px;
    background-color: #ffffff;
}

figure
{
    border-bottom: solid 3px #000000;
}

.resume
{
    margin-top: 15px;
    font-size: 17px;
    text-align: center;
}


.navigation-menu li 
{
    text-align: center;
    padding: 10px;
    list-style: none;
}

.navigation-menu a
{
    transition: 0.5s;
    display: block;
    padding: 5px;
    font-size: 15px;
    border: solid 2px #000000;
    border-radius: 5px;
    color: rgb(0, 110, 255);
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 3px 0 #1c1c1f;
}

a
{
    text-decoration: none;
}

img:hover, a:hover
{
    cursor: pointer;
    border-color: rgb(0, 110, 255);
    background-color: #e4e4e4;
}

ul
{
    padding: 0;
}
