.main-table
{
    margin-left: 30px;
    width: 850px;
    background: linear-gradient(0deg, #58fdf5, #992ae4 100%);
    border-radius: 10px;
}

.main-title
{
    font-size: 20px;
    text-align: center;
}

.task-table
{
    margin: 15px 15px 15px 30px;
    display: flex;
    flex-direction: row;
    height: auto;
}

table
{
    margin: 0 auto;
}

th
{
    padding: 10px;
    font-family: "Times New Roman", Times, serif;
    font-size: 30px;
    text-align: center;
}

.day-tasks,
.night-tasks{
    padding: 5px;
    margin-right: 20px;
    font-size: 17px;
    border-radius: 15px;
    height: auto;
}

.day-tasks li,
.night-tasks li
{
    margin-top: 20px;
}

.day-tasks
{
    background-color: #ffffff;
    color: #000000;
    border: solid 2px #000000;
}

.night-tasks
{
    background-color: #141414;
    color: #f0f0f0;
    border: solid 2px #f0f0f0;
}

ol
{
    margin-right: 20px;
}

span
{
    padding: 5px;
}

.concluded
{
    text-decoration: line-through;
}
